/* Tables
================================== */
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700);
.Rtable {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 0 3em 0;
  padding: 0;
}
.Rtable-cell {
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 100%;
  padding: 0.4em .6em;
  overflow: hidden;
  list-style: none;
  border: solid 3px white;
  background: rgba(112, 128, 144, 0.2);

  height:50px;

}

.Rtable-cell > h1,
.Rtable-cell > h2,
.Rtable-cell > h3,
.Rtable-cell > h4,
.Rtable-cell > h5,
.Rtable-cell > h6 {
  margin: 0;
}

/* Table column sizing
================================== */
.Rtable--2cols > .Rtable-cell {
  width: 50%;
}
.Rtable--3cols > .Rtable-cell {
  width: 33.33%;
}
.Rtable--4cols > .Rtable-cell {
  width: 25%;
}
.Rtable--5cols > .Rtable-cell {
  width: 20%;
}
.Rtable--6cols > .Rtable-cell {
  width: 16.6%;
}
.Rtable--7cols > .Rtable-cell {
  width: 14.2%;
}
.Rtable--8cols > .Rtable-cell {
  width: 12.5%;
}

/* Page styling
================================== */
html {
  height: 100%;
  background-color: #EEE;
}
body {
  box-sizing: border-box;
  min-height: 100%;
  margin: 0 auto;
  padding: 2em;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2em;
  background-color: white;
  border: double 3px #DDD;
  border-top: none;
  border-bottom: none;
}

/* general styles
================================== */
.Rtable {
  position: relative;
  top: 3px;
  left: 3px;
}
.Rtable-cell {
  margin: -3px 0 0 -3px;
  background-color: white;
  border-color: #e2e6e9;
}
.headerCell {
  background-color: slategrey;
  border-color: #5a6673;
  color: white;
}
#logo{
  margin-bottom:20px;
}

/*Status colors
=================================== */
.OnTime{
  background:white;
}
 
.Cancelled, .Departed{
  background:peru;
}

.Arriving{
  background:palegoldenrod;
}

.End, .Infotofollow, .TBD, .Delayed, .Late, .Hold{
  background:tomato;
}

.Arrived, .AllAboard, .NowBoarding{
  background:lightgreen;
}

.other{
  background:white;
}

/* Responsive
==================================== */
@media all and (max-width: 800px) {
  .Rtable--collapse {
    display: block;
  }
  .Rtable--collapse > .Rtable-cell {
    width: 100% !important;
  }
  .Rtable--collapse > .Rtable-cell--foot {
    margin-bottom: 1em;
  }

  .lastCell{
    margin-bottom:10px;
  }

  .Rtable:nth-child(6){
    margin-bottom:10px;
    padding-bottom:10px;
  }
}

